.bg {
    background: rgb(161, 96, 254);
    background: linear-gradient(90deg, rgba(161, 96, 254, 1) 0%, rgba(41, 178, 250, 1) 85%, rgba(46, 179, 250, 1) 100%);
}

.txt {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.tx-cadastro {
    font-size: 50px;
    font-weight: 400;
    color: #ededed;
}

.box {
    padding: 25px;
    width: 35vh;
    border: 1px solid white;
}

#tipo {
    min-height: 50px;
}

.box-2 {
    padding: 25px;
    width: 77vh;
    border: 1px solid white;
}

#conteudo {
    height: 100vh;
}

.validacao-ok {
    color: green;
}

.validacao-negada {
    color: red;
    position: absolute;
    margin-top: 2px;
}

.btncadas {
    color: #ededed;
    background-color: #343434;
    width: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
}

.btncancel {
    color: #ededed;
    background-color: #6192ff;
    width: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
}