<div class="container-fluid bg pb-5">

    <div class="row d-flex justify-content-center" id="conteudo">
        <div class="col-md-8 mt-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="titulo mb-5 d-flex">
                        <h1 class="tx-cadastro">Cadastro</h1>
                    </div>
                    <div class="d-flex justify-content-end">
                        <p class="text-white txt">Já tem uma conta? <span><a routerLink="/login" class="text-dark txt">Faça o login.</a></span></p>
                    </div>
                </div>
            </div>


            <form>
                <div class="d-flex justify-content-between row">
                    <div class="mb-3 col-md-5">
                        <label for="usuario" class="form-label text-white">Nome Completo</label>
                        <input [(ngModel)]='usuario.nomeCompleto' type="text" class="form-control box w-100" id="nomeCompleto" name="nomeCompleto" placeholder="Digite o seu nome..." #name="ngModel" (focusout)='validaNome($event)'>

                        <div class="d-flex justify-content-end">
                            <div id="validaNome" class="validacao-negada"></div>
                        </div>


                        <!--Validação de Inputs-->
                        <!--
                          required minlength="4"
                          <div *ngIf="name.errors?.['required']">
                            Name is required.
                        </div>
                        <div *ngIf="name.errors?.['minlength']">
                            <span class="text-danger mb-0 mt-1 p-0">Name must be at least 4 characters long.</span>
                        </div>
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert m-0 p-0" style="height: 0px;">
                        </div> -->
                        <!--Validação de Inputs-->


                    </div>

                    <div class="mb-3 col-md-5">
                        <label for="tipo" class="text-white">Tipo de usuário</label>
                        <select (change)='tipoUser($event)' (focusout)='validaTipo($event)' class="form-control box w-100" name="tipo" id="tipo">
                            <option>Escolha o tipo de perfil</option>
                            <option value="1">Pai</option>
                            <option value="2">Profissional</option>
                            <option value="3">Criança</option>
                        </select>

                        <div class="d-flex justify-content-end">
                            <div id="validaTipo" class="validacao-negada"></div>
                        </div>

                    </div>

                </div>

                <div class="mb-3 row">
                    <div class="col-md-12">
                        <label for="email" class="form-label text-white d-flex">Email</label>
                        <input [(ngModel)]="usuario.email" type="email" class="form-control box w-100" id="email" name="email" placeholder="name@example.com" (focusout)='validaEmail($event)'>
                        <div class="d-flex justify-content-end">
                            <div id="validaEmail" class="validacao-negada"></div>
                        </div>

                    </div>

                </div>


                <div class="row d-flex justify-content-between">
                    <div class="mb-3 col-md-5">
                        <label for="senha" class="form-label text-white">Senha</label>
                        <input (input)='confirmSenha($event)' (focusout)="validaSenha1($event)" type="password" class="form-control box w-100" id="senha" placeholder="Digite sua senha...">
                        <div class="d-flex justify-content-end">
                            <div id="validaSenha1" class="validacao-negada"></div>
                        </div>

                    </div>

                    <div class="mb-3 col-md-5">
                        <label for="senhaConfirm" class="form-label text-white">Confirma Senha</label>
                        <input [(ngModel)]='usuario.senha' type="password" class="form-control box w-100" id="senhaConfirm" name='senhaConfirm' placeholder="Confirme sua senha..." (focusout)="validaSenha2($event)">
                        <div class="d-flex justify-content-end">
                            <div id="validaSenha2" class="validacao-negada"></div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-12">
                        <label for="linkDaImagem" class="form-label text-white">Foto de Perfil</label>
                        <input [(ngModel)]='usuario.foto' type="text" class="form-control box w-100" id="linkDaImagem" name='linkImagem' placeholder="Insira o link da sua imagem de perfil" (focusout)="validaLinkDaImagem($event)">
                        <div class="d-flex justify-content-end">
                            <div id="validaLinkDaImagem" class="validacao-negada"></div>
                        </div>

                    </div>

                </div>


                <div class="row mt-3">
                    <div class="col-md-12 d-flex justify-content-around">
                        <button (click)='cadastro()' class="btn btncadas col-md-3">
                          <i class="fa fa-sign-in mr-2" aria-hidden="true"></i>Cadastrar
                        </button>
                        <button class="btn btncancel col-md-3" routerLink="/login">
                        <i class="fa fa-sign-in mr-2" aria-hidden="true"></i>Cancelar
                        </button>
                    </div>

                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div id="login-img"></div>
        </div>
    </div>

</div>