.bg{
    background: rgb(161,96,254);
    background: linear-gradient(90deg, rgba(161,96,254,1) 0%, rgba(41,178,250,1) 85%, rgba(46,179,250,1) 100%);
}

.txt{
    font-size: 25px;
    margin-bottom: 30px;
}

.tx-cadastro{
    font-size: 50px;
    font-weight: 400;
    margin: 20px;
    color: #ededed;
}

.box{
    padding: 25px;
    width: 35vh;
    border: 1px solid white;
}

.box-2{
    padding: 25px;
    width: 77vh;
    border: 1px solid white;
}


#login-img {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}


#conteudo {
    height: 100vh;
}

.validacao-ok {
    color: green;
}

.validacao-negada {
    color: red;
}

.btncadas{
color: #ededed;
background-color: #343434;
width: 15px;
}

.btncancel{
    color: #ededed;
    background-color: #6192ff;
    width: 15px;
}