<div class="container">
    <div class="row">
        <div class="col-md-12 pt-5 mb-2 urTeam-hedding text-center">
            <h1>Sobre nós</h1>
            <p>Aqui estão os desenvolvedores do <strong>InfoKids</strong> que ao longo do processo de criação, estiveram em constante aprendizado e crescimento, superando expectativas pessoais e profissionais.</p>
        </div>

        <div class="row d-flex justify-content-center align-items-center w-100 mb-4">
            <div class="col-md-8">
                <blockquote class="blockquote text-center">
                    <p class="mb-0"><small>"O talento vence jogos, mas o trabalho em equipe vence campeonatos."</small></p>
                    <footer class="blockquote-footer"><cite title="Source Title">Michael Jordan</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row section-success ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="https://i.imgur.com/XBI6h5t.jpg">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>Keren Gabriely</p>
                    <span>Product owner<br>Desenvolvedora Front End</span>
                </div>
                <div class="col-md-12 section3">
                    <a target="_blank" href="https://www.linkedin.com/in/keren-gabriely-b0204a228/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://github.com/KerenGabriely"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row section-info ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="https://i.imgur.com/xhYzeIn.png">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>Melqui Santos</p>
                    <span>Tech Lead<br>Desenvolvedor Full Stack</span>
                </div>
                <div class="col-md-12 section3">
                    <a target="_blank" href="https://linkedin.com/in/melquisedec-santos"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://github.com/MelqSantos"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row section-danger ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="https://i.imgur.com/6pDuadB.png">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>Rodrigo Antunes</p>
                    <span>Scrum Master<br>Desenvolvedor Full Stack</span>
                </div>
                <div class="col-md-12 section3">
                    <a target="_blank" href="https://www.linkedin.com/in/antunes-rodrigo/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://github.com/WhiteMajisk"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row section-info ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="https://i.imgur.com/gck26wv.jpg">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>Yuri Silva</p>
                    <span>Eng. de Dados<br>Desenvolvedor Back End</span>
                </div>
                <div class="col-md-12 section3">
                    <a target="_blank" href="https://www.linkedin.com/in/yuri-silva-dev/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://github.com/yurikgs"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row section-success ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="https://i.imgur.com/kUqyExm.jpg">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>Thamires Santos</p>
                    <span>UI/UX Designer<br>Desenvolvedora Front End</span>
                </div>
                <div class="col-md-12 section3">
                    <a target="_blank" href="https://www.linkedin.com/in/thamirescsantos/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://github.com/Tcristinas19"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>