<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">
            <div class="titulo">
                <h1>Seja bem vindo(a)!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, ipsa.</p>
            </div>

            <div class="mt-5">
                <div class="titulo">
                    <h3>Olá, Fulano</h3>
                    <p>No que está pensando hoje?</p>
                </div>
            </div>

            <div class="row botoes d-flex justify-content-between px-2">
                <button class="btn btn-success">Nova postagem</button>
                <button class="btn btn-danger">Ver postagem</button>
            </div>

            <div class="col-md-6">
                <div class="img-right"></div>
            </div>

        </div>
    </div>
</div>
