<div class="container flex-column">

    <div class="text-center mb-4">
        <h1 class="text-center my-3">Apagar postagem</h1>
        <p class="mb-2"><span class="font-weight-bold">ATENÇÃO:</span> Você está prestes a excluir a postagem:</p>
        <h2 class="text-center">{{postagem.titulo}}</h2>
    </div>

    <div class="row align-items-center d-flex justify-content-center mt-2">
        <button class="btn btn-info mr-3" routerLink="/inicio"><i class="fa fa-times mr-2"></i> Voltar</button>
        <button class="btn btn-danger" (click)="apagar()"><i class="fa fa-trash mr-2"></i> Apagar</button>
    </div>


</div>