<div class="container-fluid">

    <div class="row d-flex" id="conteudo">
        <div class="col-md-6">
            <div id="login-img"></div>
        </div>
        <div class="col-md-6">

            <div class="titulo">
                <h1>Login</h1>
                <p>Ainda não tem uma conta? <span><a routerLink="/cadastrar">Cadastre-se.</a></span></p>
            </div>

            <form action="">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input [(ngModel)] ='usuarioLogin.email' type="email" class="form-control" 
                    id="email" name="email" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input [(ngModel)] ='usuarioLogin.senha' type="password" class="form-control" 
                    id="senha" name='senha' placeholder="Digite sua senha...">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                    Lembrar-me
                </label>
                </div>
                <button (click)='entrar()' class="btn btn-info" routerLink="/menu">
                <i class="fa fa-sign-in mr-2" aria-hidden="true"></i>Login
                </button>
            </form>
        </div>
    </div>

</div>
<div class="wave">

</div>
