<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <div class="perfil-menu d-flex justify-content-center align-items-center">
            <div class="foto">
                <img src="/assets/img/perfil/toonProfile.jpg" height="100" width="100" class="rounded-circle">
                <p class="text-white pt-2">Nome do Usuário</p>
            </div>
        </div>
        <mat-nav-list>
            <a mat-list-item href="#">Postagens</a>
            <a mat-list-item href="#">Temas</a>
            <a mat-list-item href="#">Games</a>
            <a mat-list-item href="#">Kids</a>
            <a mat-list-item href="#">Sobre</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">

        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>infokids</span>
        </mat-toolbar>
        <app-inicio></app-inicio>
    </mat-sidenav-content>
</mat-sidenav-container>
