<div class="wrapper" (mouseover)="usuarioLogado()">
    <!-- Sidebar  -->
    <nav *ngIf="authService.logado()" id="sidebar">
        <div class="sidebar-header">

            <div class="card bg-dark text-white">
                <img id="bg-profile" src="/assets/img/backgrounds/bg_1.jpg" class="card-img">
                <div class="card-img-overlay">
                    <div class="profile d-flex flex-column align-items-center justify-content-center">
                        <div id="user"></div>
                        <h4 id="nameUser" class="card-title mt-2">...</h4>
                    </div>
                </div>
            </div>

        </div>

        <ul class="list-unstyled components">

            <li>
                <a routerLink="/inicio">Postagens</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a routerLink="/temas">Temas</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="#" class="download">Download source</a>
            </li>
            <li>
                <a href="#" class="article">Back to article</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav *ngIf="authService.logado()" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button (click)="toggle()" type="button" id="sidebarCollapse" class="btn btn-info">
                    <i id="toggle-icon" class="fa fa-arrow-left"></i>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Início do conteúdo do site -->
        <router-outlet></router-outlet>
        <app-rodape *ngIf="authService.logado()"></app-rodape>
        <!-- Fim do conteúdo do site -->

    </div>
</div>