<footer class="page-footer font-small bg-info pt-2">
    <div class="row mb-1">
        <div class="col-md-12 d-flex justify-content-center">
            <h4 class="text-white"></h4>
            <a href="#" target="_blank" class="px-3 text-white"><i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="#" target="_blank" class="px-3 text-white"><i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="#" target="_blank" class="px-3 text-white"><i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center text-white">Siga-nos nas redes sociais</p>
            <p class="text-center text-white">Todos os direitos reservados &copy;2022</p>
        </div>
    </div>
</footer>
